@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
* {
  font-family: 'JetBrains Mono';
}
body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.button {
  background: white;
  color: black;
  padding: 16px;
  border-radius: 16px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.to-map {
    width: auto;
    background: rgba(black, 0.5);
    color: white;
    position: fixed;
    left: 16px;
    top: 16px;
    backdrop-filter: blur(24px);
    z-index: 9999;
    border-radius: 2px solid white;
  }
  &.button-start {
    margin-top: 96px;
    width: auto;
    background: rgba($color: black, $alpha: 0.5);
    padding: 16px;
    border-radius: 16px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    backdrop-filter: blur(24px);
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color: #ffffff, $alpha: 0.1);
  padding: 16px;
  border-radius: 16px;
  .quote {
    font-size: 18px;
    font-style: italic;
  }
  img {
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    height: auto;
  }
}

img {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  transition: all 1s ease-in-out;
  &:hover {
    scale: 0.98;
  }
}

.card {
  img {
    height: 250px;
    margin: 0;
    padding: 0;
  }
  margin-bottom: 32px;
  background: black;
  border: white 4px solid;
  border-radius: 8px;
}

#video {
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: blur(4px);
}

.reich-wrap {
  columns: 3;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 100%;
  }
  img {
    height: 300px;
    &:hover {
      scale: 1;
    }
  }
  .slider {
    flex-direction: column;
    div {
      width: 80%;
    }
    img {
      margin-top: 0;
      height: 100%;
      width: 100%;
    }
    .quote {
      margin-top: 16px;
      font-size: 18px;
      font-style: italic;
    }
  }
  .button {
    &.to-map {
      width: calc(100% - 32px);
    }
  }
  .reich-wrap {
    columns: 2;
  }
}

@media only screen and (max-width: 425px) {
  .slider {
    div {
      width: 100%;
    }
  }
  .reich-wrap {
    columns: 1;
  }
}

section {
  &.start-excursion {
    height: 100vh;
    h1 {
      backdrop-filter: blur(24px);
      padding: 16px;
      border-radius: 16px;
      background: rgba(black, 0.25);
    }
    // background: url(../videos/back.mp4);
  }
}

.card {
  display: inline-block;
  img {
    width: 100%;
  }
}

.button-listen {
  margin-bottom: 12px;
  transform: translateY(-36px);
  padding: 8px;
  width: 25%;
}

.loader {
  z-index: 66666;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  &.loaded {
    z-index: -1;
    position: block;
    display: none;
    transform: translateX(-100%);
  }
}
