@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

* {
    font-family: "JetBrains Mono";
}

nav {
    background: black;
    min-width: 20%;
    position: fixed;
    right: 0;
    padding: 8px;
    > h3 {
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
        color: white;
        padding-bottom: 16px;
        border-bottom: 4px white dashed;    
    }
    > ul {
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: color .25s ease-in-out;    
        > li {
            list-style-type: decimal;
            &:hover, &.active {
                color: red;
            }
        }
    }
}

.nav-button {
    display: none;
}

.nav-button-close-menu {
    display: none;
}

.info {
    transition: all .25s ease-in-out;
    display: block;
    padding: 16px;
    height: 100vh;
    overflow-y: scroll;
    width: 25%;
    background: black;
    color: white;
    > .close-btn {
        > img {
            width: 100%;
            height: 100%;    
        }
        width: 48px;
        height: 48px;
        float: right;
        margin-bottom: 16px;
        &:hover {
            cursor: pointer;
        }
        > .line {
            background: white;
            height: 4px;
            border-radius: 2px;
            width: 36px;
            transform: rotate(45deg) translateY(13px) translateX(21px);
            &:before {
                border-radius: 2px;
                display: block;
                content: '';
                background: white;
                height: 4px;
                width: 36px;
                transform: rotate(90deg);
            }   
        }
    }
    &.active {
        display: block;
        box-shadow: 0 0 16px black;
    }
    > img {
        height: 300px;
        object-fit: cover;    
    }
}

@media only screen and (max-width: 1440px) {
    nav {
        > h3 {
            font-size: 1rem;
            margin-left: 8px;
            margin-right: 8px;
            padding-bottom: 8px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .info {
        width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    nav {
        > h3 {
            font-size: 18px;
            margin-left: 16px;
            margin-right: 16px;
            padding-bottom: 16px;
        }
        padding-top: 94px;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: all .25s ease-in-out;
        &.active {
            transform: translateX(0);
        }
    }
    .nav-button, .nav-button-close-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background: black;
        right: 0;
        position: fixed;
        margin: 16px;
        transition: all .25s ease-in-out;
        > img {
            width: 50%;
            height: 50%;
        }
    }
    .nav-button {
        &.menu-active {
            display: none;
        }
    }
    .nav-button-close-menu {
        display: none;
        background: white;
        img {
            width: 100%;
            height: 100%;
        }
        &.menu-active {
            display: flex;
        }
    }
    .info {
        width: 100%;
    }
}